@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --first-color: #fafcff;
  --second-color: #f4f8ff;
  --highlight-color: #1587ff;
  --text-color: #24282a;

  --background-color: linear-gradient(
    180deg,
    var(--first-color) 0%,
    var(--second-color) 100%
  );
  --second-background-color: linear-gradient(
    0deg,
    var(--first-color) 0%,
    var(--second-color) 100%
  );
}

*::selection {
  background: var(--highlight-color);
  color: var(--text-color);
}

html {
  font-size: 62%;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -ms-user-select: none;
}

span {
  color: var(--highlight-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  background: var(--first-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
}

.header.navbarLine {
  border-bottom: 0.2rem solid var(--highlight-color);
}

.logo {
  width: 50px;
  height: 50px;
}

.navbar a {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--highlight-color);
}

#menu-icon {
  font-size: 4.6rem;
  color: var(--text-color);
  display: none;
}

#light-mode-icon {
  font-size: 3rem;
  color: var(--text-color);
  cursor: pointer;
}

.heading {
  text-align: center;
  font-size: 6rem;
  margin-bottom: 5rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
}

.home-content h3 {
  font-size: 5rem;
  font-weight: 700;
}

.home-content h1 {
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.3;
}

.links {
  display: flex;
  margin: 3rem 2rem 3rem 0;
  gap: 3rem;
}

.button-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  margin-right: 3rem;
  border: --0.5em solid var(--highlight-color);
  border-radius: 50%;
  background: var(--highlight-color);
  color: #fafcff;
  box-shadow: 0 0 1rem var(--highlight-color);
  transition: 0.5s ease;
}

.button-links a:hover {
  box-shadow: none;
}

.btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  border-radius: 4rem;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  background: var(--highlight-color);
  color: #fafcff;
  box-shadow: 0 0 1rem var(--highlight-color);
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

.about {
  background: var(--second-background-color);
}

.about h3 {
  text-align: center;
  font-size: 4rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.about h4 {
  font-size: 3em;
}

.about h5 {
  font-size: 2rem;
}

.about-content p {
  display: grid;
  justify-items: center;
  font-size: 1.8rem;
  margin: 0rem 20rem 5rem;
}

.about-card-content {
  display: grid;
  justify-items: center;
  margin: 0rem 15rem;
  grid-template-columns: repeat(2, 1fr);
}

.about-card {
  width: 300px;
  box-shadow: 0 0 1rem var(--highlight-color);
  text-align: center;
  transition: 0.3s ease;
}

.about-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1rem var(--text-color);
}

.about-card-header {
  color: var(--highlight-color);
  border-bottom: 0.5rem solid var(--text-color);
}

.about-card-body {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.about-card-body img {
  width: 75px;
}

.portfolio {
  background: var(--background-color);
}

.portfolio-content {
  display: grid;
  gap: 8rem;
  margin: 0rem 20rem;
  grid-template-columns: repeat(2, 1fr);
}

.portfolio-info-box {
  justify-self: left;
  padding-left: 1rem;
  width: 400px;
  height: 400px;
  overflow-y: auto;
}

.portfolio-info-box h3 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.portfolio-info-box h4 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.portfolio-info-box p {
  font-size: 1.8rem;
  margin-bottom: 6rem;
}

.portfolio-image-box {
  justify-self: right;
  width: 400px;
  height: 400px;
}

.portfolio-image-box img {
  width: 400px;
  height: 400px;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--highlight-color);
  transition: 0.3s ease;
}

.portfolio-image-box img:hover {
  transform: scale(1.2);
  box-shadow: none;
}

.contact {
  background: var(--second-background-color);
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background: var(--first-color);
  box-shadow: 0rem 0rem 2px 0.5px var(--highlight-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  transition: 0.3s ease;
}

.contact form .input-box input:focus,
.contact form textarea:focus {
  box-shadow: 0rem 0rem 2px 0.5px var(--text-color);
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 18%;
  background: var(--second-color);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  margin: 1.5rem;
  color: #fafcff;
  background: var(--highlight-color);
  box-shadow: 0 0 1rem var(--highlight-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-icons a:hover {
  box-shadow: none;
}

.footer-icons a i {
  font-size: 2.4rem;
  color: var(--second-background-color);
}

/* Responsive Breakpoints */
@media (max-width: 1600px) {
  .about-content p {
    margin: 0rem 15rem 5rem;
  }

  .about-card-content {
    margin: 0rem 0rem;
  }

  .portfolio-content {
    margin: 0rem 5rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .about-content p {
    margin: 0rem 10rem 5rem;
  }

  .about-card {
    width: 250px;
  }

  .portfolio-content {
    margin: 0rem 0rem;
  }

  .portfolio-info-box {
    width: 350px;
    height: 350px;
  }

  .portfolio-image-box {
    width: 350px;
    height: 350px;
  }

  .portfolio-image-box img {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 992px) {
  section {
    padding: 10rem 3% 2rem;
  }

  .about-content p {
    margin: 0rem 5rem 5rem;
  }

  .about-card-content {
    gap: 6rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio {
    padding-bottom: 10rem;
  }

  .portfolio-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio-info-box {
    justify-self: center;
    width: 300px;
    height: 300px;
  }

  .portfolio-info-box p {
    margin-bottom: 2rem;
  }

  .portfolio-image-box {
    justify-self: center;
    width: 300px;
    height: 300px;
  }

  .portfolio-image-box img {
    width: 300px;
    height: 300px;
  }

  .portfolio-image-box img:hover {
    transform: scale(1.1);
  }

  .contact {
    min-height: max-content;
    padding-bottom: 10rem;
  }

  .footer {
    padding: 0.5rem 3%;
  }
}

@media (max-width: 768px) {
  .home-content h3 {
    font-size: 3.6rem;
  }

  .home-content h1 {
    font-size: 6rem;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 50%;
  }

  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--first-color);
    border-top: 0.1rem solid var(--highlight-color);
    box-shadow: 0 1rem 1rem var(--first-color);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
}

@media (max-width: 365px) {
  html {
    font-size: 45%;
  }

  .home-content h3 {
    font-size: 3rem;
  }

  .home-content h1 {
    font-size: 4.8rem;
  }

  .links {
    display: grid;
  }

  .links .btn {
    justify-self: center;
  }

  .button-links {
    display: inline-flex;
    justify-self: center;
    gap: 3rem;
  }

  .button-links a {
    margin: 0;
  }

  .about-content p {
    margin: 0rem 1rem 5rem;
  }

  .about-card {
    width: 220px;
  }

  .portfolio-info-box {
    justify-self: center;
    width: 250px;
    height: 250px;
  }

  .portfolio-info-box h3 {
    margin-bottom: 1rem;
  }

  .portfolio-info-box h4 {
    margin-bottom: 1rem;
  }

  .portfolio-info-box p {
    margin-bottom: 1rem;
  }

  .portfolio-image-box {
    justify-self: center;
    width: 250px;
    height: 250px;
  }

  .portfolio-image-box img {
    width: 250px;
    height: 250px;
  }

  .portfolio-image-box img:hover {
    transform: scale(1.1);
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}
